Workflows/tpEngDelegationDeactivate-D8AE353B-4B5E-EE11-BE6F-000D3A246956.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_6151d"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "W. Europe Standard Time",
            "schedule": {
              "hours": [
                "3"
              ],
              "minutes": [
                30
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "5d01c4ba-09af-48e7-a93d-039e9265b99e"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3e94b3ce-224b-422c-bf29-a07d1f65f7b3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ntt_tp_pub_stepreviews",
              "$filter": "ntt_isdelegated eq true and ntt_isactive eq true and ntt_actiondone eq false"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8f30ed6-4e58-42b8-8795-b9afd4638b7d"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows')?['body/value']"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Disable_Delegated_StepReview": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "066b776d-02c4-4d5b-b501-c04f3486257d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ntt_tp_pub_stepreviews",
                      "recordId": "@items('Apply_to_each')?['ntt_tp_pub_stepreviewid']",
                      "item/ntt_isactive": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_2": {
                  "actions": {
                    "Enable_Related_StepReview": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5c0fbeeb-48f1-48f9-ba5c-b1e0b5d8be5e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ntt_tp_pub_stepreviews",
                          "recordId": "@items('Apply_to_each')?['_ntt_relatedtootherreview_value']",
                          "item/ntt_isactive": true,
                          "item/ntt_isdelegated": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Disable_Delegated_StepReview": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each')?['ntt_onbehalf']",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cc3a63ce-e4a9-41d4-99e3-8bb31932a631"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "expression": {
                "greater": [
                  "@utcNow()",
                  "@items('Apply_to_each')?['ntt_delegationdateto']"
                ]
              },
              "metadata": {
                "operationMetadataId": "a6c5d263-ec1c-4cb0-a485-417676ccdf5d"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5a95d3c7-f832-417e-a5e2-ad7db6baa569"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}