Workflows/tpRemindL2-D22B7049-BF77-EE11-8179-000D3A20347A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ntt_sharedcommondataserviceforapps_0f3a8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "TPNotifyReminderKMSTeamMail (ntt_TPNotifyReminderKMSTeamMail)": {
          "defaultValue": "KMS.team@eni.com",
          "type": "String",
          "metadata": {
            "schemaName": "ntt_TPNotifyReminderKMSTeamMail"
          }
        },
        "TPNotifyReminderNumCharSubject (ntt_TPNotifyReminderNumCharSubject)": {
          "defaultValue": 50,
          "type": "Int",
          "metadata": {
            "schemaName": "ntt_TPNotifyReminderNumCharSubject"
          }
        },
        "TPNotifyReminderSender (ntt_TPNotifyReminderSender)": {
          "defaultValue": "action-required@e-kms.eni.com",
          "type": "String",
          "metadata": {
            "schemaName": "ntt_TPNotifyReminderSender"
          }
        },
        "KMSUrlTpManager (ntt_KMSUrlTpManager)": {
          "defaultValue": "https://lab-kms.eni.com/tech-pub/manage?pubId=",
          "type": "String",
          "metadata": {
            "schemaName": "ntt_KMSUrlTpManager"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "c2475f2b-dcca-42d9-9689-909eec9f7053"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ntt_tp_publications",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ntt_sendl2reminder"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_strListCc": {
          "runAfter": {
            "Run_tpGetMailAuthors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15a298c1-aaab-464d-974c-7845ad1b5458"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strListCc",
                "type": "string",
                "value": "@body('Run_tpGetMailAuthors')?['listauthors']"
              }
            ]
          }
        },
        "Append_to_string_variable_7": {
          "runAfter": {
            "Initialize_strListCc": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "433a143a-8d7f-47e9-b077-545ec6d9448c"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strListCc",
            "value": ",@{parameters('TPNotifyReminderKMSTeamMail (ntt_TPNotifyReminderKMSTeamMail)')}"
          }
        },
        "Get_Publication": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d6e913b5-baff-4a84-ac2c-d7377939bde0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ntt_tp_publicationses",
              "recordId": "@triggerOutputs()?['body/ntt_tp_publicationsid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_strTitle": {
          "runAfter": {
            "Append_to_string_variable_7": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5d8cbaa5-53b1-4fc8-b53d-a9bb40b49288"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strTitle",
                "type": "string",
                "value": "ENI Technical Publications REMINDER: review required for Publication ID"
              }
            ]
          }
        },
        "Append_strTitle": {
          "runAfter": {
            "Initialize_strTitle": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "133e7d07-b112-4fa3-b21b-278e3685935a"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strTitle",
            "value": "@outputs('Get_Publication')?['body/ntt_id']"
          }
        },
        "Append_strTitle_-_2": {
          "runAfter": {
            "Append_strTitle": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cc95c255-8acc-4135-89a6-2533fb52b112"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strTitle",
            "value": " with title "
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Append_strTitle_-_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f009cbd9-ef9b-4c74-a643-c3ddbadae339"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strTemp",
                "type": "string",
                "value": "@outputs('Get_Publication')?['body/ntt_papertitle']"
              }
            ]
          }
        },
        "Condition_7": {
          "actions": {
            "Append_strTitle_-_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "486d0be8-4bcb-4a52-89a1-b0429c29db46"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "strTitle",
                "value": "@{substring(variables('strTemp'),0,parameters('TPNotifyReminderNumCharSubject (ntt_TPNotifyReminderNumCharSubject)'))}..."
              }
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Append_to_string_variable_8": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "dd076620-7d90-4aa8-b374-626b1c1a4836"
                },
                "type": "AppendToStringVariable",
                "inputs": {
                  "name": "strTitle",
                  "value": "@variables('strTemp')"
                }
              }
            }
          },
          "expression": {
            "less": [
              "@parameters('TPNotifyReminderNumCharSubject (ntt_TPNotifyReminderNumCharSubject)')",
              "@length(variables('strTemp'))"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a50ea1f-bd26-4d18-bd5d-fe41abdcd66d"
          },
          "type": "If"
        },
        "Apply_to_each_-_ListTo": {
          "foreach": "@outputs('List_rows_-_ListTo')?['body/value']",
          "actions": {
            "Set_variable_8": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "41cc6992-dedf-4643-a42f-5c0d9268a934"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "strContentWithRole",
                "value": "@{replace(variables('strContent'),'reviewer_role',items('Apply_to_each_-_ListTo')?['ntt_role@OData.Community.Display.V1.FormattedValue'])}"
              }
            },
            "Run_a_Child_Flow": {
              "runAfter": {
                "Set_variable_8": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cc5e5e76-1232-4e7a-9c70-d757bbfde909"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "e4c863a3-3818-ef11-9f89-0022487fb7f7"
                },
                "body": {
                  "text": "@items('Apply_to_each_-_ListTo')?['ntt_tp_usermail']",
                  "text_1": "@variables('strListCc')",
                  "text_2": "@parameters('TPNotifyReminderSender (ntt_TPNotifyReminderSender)')",
                  "text_3": "@variables('strTitle')",
                  "text_4": "@variables('strContentWithRole')"
                }
              }
            }
          },
          "runAfter": {
            "List_rows_-_ListTo": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "034746e1-f645-476b-88b8-c75262c54b9f"
          },
          "type": "Foreach"
        },
        "List_rows_-_ListTo": {
          "runAfter": {
            "Append_to_string_variable_15": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07329573-03c1-4307-8c7e-937dc58abf38"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ntt_tp_pub_stepreviews",
              "$filter": "ntt_publicationdescid eq '@{outputs('Get_Publication')?['body/ntt_id']}' and ntt_stepno eq @{outputs('Get_Publication')?['body/ntt_activestepno']} and ntt_isactive eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_strContent": {
          "runAfter": {
            "Get_Event": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28143581-3718-4e44-a874-05bdea8128b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strContent",
                "type": "string",
                "value": "@{'<body style=\"margin: 10; padding: 10;\">\r\n<table style=\"height: 60px;text-align: center;font-size:20px; width: 800px;border-collapse: collapse;border: 1px solid #446298;\"order=\"1\">\r\n<tbody>\r\n<tr>\r\n<td style=\"background-color: #517AC4;color:white;\" >Eni Technical Publications</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<table style=\"background-color: #517AC4;color:white;border-collapse: collapse;border: 1px solid #446298;; width: 800px; height: 60px;text-align: center;font-size:18px;\"order=\"1\">\r\n<tbody>\r\n<tr>\r\n<td style=\"width: 50%;border: 1px solid #446298;\"><div>Publication:</div><div>ID '}"
              }
            ]
          }
        },
        "Append_strContent_-1": {
          "runAfter": {
            "Initialize_strContentWithRole": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "71fed5c9-b440-4007-9fda-40b0d257b7ea"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@outputs('Get_Publication')?['body/ntt_id']"
          }
        },
        "Append_strContent_-2": {
          "runAfter": {
            "Append_strContent_-1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f378c443-1a09-4557-b335-92da9f32a02f"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@'</div><div>Submission deadline: '"
          }
        },
        "Append_strContent_-3": {
          "runAfter": {
            "Append_strContent_-2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d209948a-2ca2-4dc8-be87-4d9ab3559b11"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@formatDateTime(addDays(outputs('Get_Publication')?['body/ntt_submissiondeadline'],1),'dd-MMM-yyyy')"
          }
        },
        "Append_strContent_-4": {
          "runAfter": {
            "Append_strContent_-3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b58e9799-331d-4468-aa4f-e9baf315b61c"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@'</div></td>\r\n<td style=\"width: 50%;border: 1px solid #446298;\"><div>Event:</div><div>Name: '"
          }
        },
        "Get_Event": {
          "runAfter": {
            "Condition_7": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1aa07aa2-766d-4417-beb4-4a0fd3eae43b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ntt_tp_eventses",
              "recordId": "@outputs('Get_Publication')?['body/_ntt_idevent_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Append_to_string_variable_9": {
          "runAfter": {
            "Append_strContent_-4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90a9c8d5-4dfa-4b0a-917c-4cecefb179b8"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@outputs('Get_Event')?['body/ntt_name']"
          }
        },
        "Append_to_string_variable_14": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "435421bb-d598-43e2-ad89-ddfea9bc8b0b"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "</div></td>\n</tr>\n</tbody>\n</table>\n<table style=\"background-color: #517AC4;color:white;border-collapse: collapse;border: 1px solid #446298; width: 800px; height: 40px;text-align: center;font-size:14px;\"order=\"1\">\n<tbody>\n<tr>\n<td >@{variables('strKindRemind')}</td>\n</tr>\n</tbody>\n</table>\n<table style=\"background-color: #E3E3E3;color:#517AC4;border-collapse: collapse;border: 1px solid #446298; width: 800px; height: 40px;text-align: center;font-size:16px;\"order=\"1\">\n<tbody>\n<tr>\n<td ><a href=\"url_publication\">Access TP Manager for publication detail</a></td>\n</tr>\n</tbody>\n</table>\n<table style=\"background-color: #E3E3E3;color:#517AC4;border-collapse: collapse;border: 1px solid #446298; width: 800px; height: 40px;text-align: center;font-size:14px;\"order=\"1\">\n<tbody>\n<tr><td >"
          }
        },
        "Run_a_Child_Flow_2": {
          "runAfter": {
            "Set_variable_7": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6a18199-fa99-4398-8fb0-b9789d91b702"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "accdc264-3a60-ee11-8df0-000d3a20347a"
            },
            "body": {
              "text": "@outputs('Get_Publication')?['body/ntt_id']"
            }
          }
        },
        "Append_to_string_variable": {
          "runAfter": {
            "Run_a_Child_Flow_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4f7cc35-6f98-4f1b-8bbc-225e8b44703b"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "@body('Run_a_Child_Flow_2')?['content']"
          }
        },
        "Append_to_string_variable_15": {
          "runAfter": {
            "Append_to_string_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4fecf104-719d-4509-9567-18c12e5004a2"
          },
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "strContent",
            "value": "</td>\n</tr>\n</tbody>\n</table>\n<table style=\"background-color: #E3E3E3;color:black;border-collapse: collapse;border: 1px solid #446298; width: 800px; height: 40px;text-align: center;font-size:16px;\"order=\"1\">\n<tbody>\n<tr>\n<td ><i>This is an automated mail, kindly do not reply</i></td>\n</tr>\n</tbody>\n</table>\n</body>"
          }
        },
        "Compose": {
          "runAfter": {
            "Append_to_string_variable_14": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e3dd987-908d-451e-8815-b82918fc9297"
          },
          "type": "Compose",
          "inputs": "@replace(variables('strContent'),'url_publication',concat(parameters('KMSUrlTpManager (ntt_KMSUrlTpManager)'),outputs('Get_Publication')?['body/ntt_id']))"
        },
        "Set_variable_7": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca958a2b-f82d-4f47-99d4-111a859224da"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "strContent",
            "value": "@{outputs('Compose')}"
          }
        },
        "Initialize_strContentWithRole": {
          "runAfter": {
            "Initialize_strContent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "22271a54-404c-413b-b816-74465cece968"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strContentWithRole",
                "type": "string"
              }
            ]
          }
        },
        "Run_tpGetMailAuthors": {
          "runAfter": {
            "Get_Publication": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49b75c5b-f78d-4732-98ad-1820bbb79348"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "c617e7ed-8460-ee11-8df0-000d3a2004d7"
            },
            "body": {
              "text": "@outputs('Get_Publication')?['body/ntt_tp_publicationsid']"
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Condition_Journal": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9dfa045-b0e0-4ac8-9c44-5db36f6baff8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "strKindRemind",
                "type": "string",
                "value": "Kind REMINDER: Your action is URGENTLY required as reviewer_role  for step @{outputs('Get_Publication')?['body/ntt_activestepno']} as submission deadline is almost/already expired"
              }
            ]
          }
        },
        "Condition_Journal": {
          "actions": {
            "Append_to_string_variable_10": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0f5f999f-7360-4589-a6ac-b726afc06805"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "strContent",
                "value": "@' Date: '"
              }
            },
            "Append_to_string_variable_11": {
              "runAfter": {
                "Append_to_string_variable_10": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "274a082f-88e6-4eb7-8d2b-e2ad566744e4"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "strContent",
                "value": "@formatDateTime(addDays(outputs('Get_Event')?['body/ntt_startdate'],1),'dd-MMM-yyyy')"
              }
            },
            "Append_to_string_variable_12": {
              "runAfter": {
                "Append_to_string_variable_11": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "84506152-2bad-4abf-83f3-35e95960a764"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "strContent",
                "value": "@'</div><div>Location: '"
              }
            },
            "Append_to_string_variable_13": {
              "runAfter": {
                "Append_to_string_variable_12": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f1d6961a-e4db-4799-9ff2-a8f7436f91d5"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "strContent",
                "value": "@outputs('Get_Event')?['body/ntt_location']"
              }
            }
          },
          "runAfter": {
            "Append_to_string_variable_9": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@body('Get_Event')?['ntt_neweventtype']",
                    876460003
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e0e723ee-d80e-409c-a89f-40f35173b7fe"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}